<br>
<h1>All Users</h1>
<br>
<% @users.each do |user| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to user.name, user_path(user) %>
      </h4>
      <small>
        Last active <%= active(user) %> ago <br>
        <%= user.items.count %> todos
      </small>
    </div>
  </div>
<% end %>
