<br><br>
<h1 class="text-center">My todos</h1>
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="col-xs-9">Description</th>
          <th class="col-xs-2">Expires in</th>
          <% if current_user.id == params[:id].to_i %>
            <th>Complete</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @user.items.each do |item| %>
          <%= render partial: 'items/item', locals: { item: item } %>
        <% end %>
        <%= render partial: 'items/form' %>
      </tbody>
    </table>
    <% if current_user.id == params[:id].to_i %>
      <%= button_to "Add New Todo", new_user_item_path(@user), method: :get, remote: true, class: :center %>
    <% end %>
  </div>
</div>

<script>
  editOrDeleteItem();

</script>
