<h1>My todos</h1>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Days left</th>
      <th>Complete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Learn Haskell</td>
      <td>3</td>
      <td></td>
    </tr>
    <tr>
      <td>Change oil</td>
      <td>2</td>
      <td></td>
    </tr>
    <tr>
      <td>Buy beer</td>
      <td>5</td>
      <td></td>
    </tr>
  </tbody>
</table>
