<tr>
  <% if current_user.id == params[:id].to_i %>
    <td class="col-xs-8"><%= text_field(:item, :name, id: item.id, class: :item_name, value: item.name, autocomplete: :off) %></td>
    <td>3</td>
    <td><%= link_to "", user_item_path(@user, item.id), method: :delete, class: 'glyphicon glyphicon-ok', remote: true %></td>
  <% else %>
    <td class="col-xs-10"><%= text_field(:item, :name, id: item.id, class: :item_name, value: item.name, autocomplete: :off, readonly: true) %></td>
    <td>3</td>
  <% end %>
</tr>
