// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item_name, .new_item{
  background-color: transparent;
  border: none;
  width: 100%;
}

.item_name:focus, .new_item{
  border-color: yellow;
  outline: none;
}
